*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.setting
*.project
*.classpatch


#idea
.idea/
*.ipr
*.iml
*.iws
/idea/

#temp file
*.log
*.patch
*.cache
*.diffgt
*.tmp

#system file
.DS_Store
Thumbs.db